//$v-background-color: #ffffff;
//$v-border: #111;
@import "../valo/valo";
//@import "styles.css";





@include valo;

// Prefix all selectors in your theme with .ui

canvas {
	background-color: white;
	border: 1px solid powderblue;
	border-radius: 10px;

}
.v-button-caption {
	color: black;
}
.v-button-mystyle {
	background-color: navajowhite;
	background-image: url(images/3.jpg);
	font-size: 12pt;
	font-weight: bold;
	color: red;
	border-color:  deepskyblue;
	border-radius: 75px;
	border-width: 2px;
}
.v-pressed.v-button-mystyle {
	background-color: brown;
	color: lime;
}
.v-vertical > .v-spacing {
	height: 40px;
}

.v-app {
	background-image: url(images/1.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat; }

